@import 'tabulator_bootstrap4.scss';
@import 'custom_mixins';

// adding tabulator classes later to overwrite the styles

// Container for header and rows
%grid_container{
  display: grid;
  grid-template-columns: repeat(1,minmax(20px, 100%)); //Wrap all in One column in small sie
  
  // @include screen_sm(){
  //   grid-template-columns: repeat(1, minmax(20px, 100%));

  // }
  @include screen_md() {
    grid-template-columns: repeat(4, minmax(20px, 100%)); //Wrap all in 4 columns in medium size

  }
  @include screen_lg() {//for lg and bigger sizes
    grid-template-columns: repeat(6, minmax(20px, 100%)); //Wrap all in 6 columns in large and extra largge sizes

  }
  
}


.lighttouch_table{
  
  &.tabulator{
    // display: grid;
    // grid-template-columns: repeat(1, minmax(20px, 100%));
    
  }
  
  // Container of all the headers of columns
  .tabulator-headers{
    display: grid;
  
    grid-template-columns: repeat(3, minmax(20px, 100%));

    @include screen_md() {
      grid-template-columns: repeat(4, minmax(20px, 100%));

    }

    @include screen_lg() {
      //for lg and bigger sizes
      grid-template-columns: repeat(6, minmax(20px, 100%));

    }
  
  }
  
 
  
  // Container of each row of data
  .tabulator-row{
    

    @extend %grid_container;
    
    &:hover{
      background-color: #e0dede; //row hover color
    }

    border-bottom: 1px solid #000;

    grid-template-rows: minmax(30px, 100%);
  }
  
  // Container of data inside a row
  .tabulator-cell {
    border: 1px solid #999999;
    box-sizing: border-box;
  
    height: auto;

    // min-height: 100px;

    max-height: 250px;
    

    // white-space: normal !important;
    // text-overflow: clip !important;
    padding: 5px;
    display: block;
    
    &:hover {
      background-color: #ffffff;
    }
    // Message before cell data for small sizes where columns header occupy too much space
    &::before{
      content: attr(title_of_data) ": ";
      font-weight: bolder;

      // @include screen_md() {
      //   content: none;
      // }
    }
  
  }
  
  // table columns header
  .tabulator-col-content{
    background-color: #22292f;  
    &:hover{
      background-color: #000;
    }
    border: 1px solid #575e64;
    box-sizing: border-box;
  
  }
  // color of text in column header
  .tabulator-col-title{
    color: #FFF;
  
  }
  // background of odd row
  .tabulator-row-odd{
    background-color: #FFF;
  } 
  // background of even row
  .tabulator-row-even{
    background-color: #dae1e7;
  
  }

}