@import 'tabulator_bootstrap4.scss';

// adding tabulator classes later to overwrite the styles

.tabulator{
  width: 98%;
  padding: 4px;
}

.tabulator-col-resize-handle{
  opacity: 0;
}


$test_columns: 100 / 7 ;

%grid_container{
  display: grid;
  // grid-template-columns: repeat(7, #{ $test_columns + '%' });
  grid-template-columns: repeat(5, .95fr);
  grid-column-gap: 0px;
  width: 100%;
  
}

%grid_item{
  border: 1px solid #999999;

  // border-bottom: 1px solid #999999;
  // border-right: 1px solid #999999;
  // border-left: 1px solid #999999;

  // box-sizing: border-box;
  
  &:hover{
    background-color: #e0dede;
  }
}
// Container of all the headers of columns
.tabulator-headers{
  @extend %grid_container;
  grid-auto-rows: minmax(30px, auto);

}

// Container of each individual header
.tabulator-col{
  @extend %grid_item;

}

// Container of each row of data
.tabulator-row{
  @extend %grid_container;
  grid-auto-rows: minmax(150px, auto);

}


// Container of each data of the table
.tabulator-cell {
  @extend %grid_item;
  width: auto;
  height: auto;
  // overflow: visible;  
  // white-space: initial;
  // text-overflow: clip;
  // word-wrap: normal;
}
