.border-box {
    box-sizing: border-box;
}

.triangle_after{
    &::after{
        content: "";
        @include triangle(10px,"right");
        margin-top: 5px;
        margin-left: 4px;
    }
    &:hover{
        &::after {
            @include triangle_color(#fff, "right")
        }
    }
}

.triangle_before {
    &::before {
        content: "";
        @include triangle(10px, "left");
        margin-top: 5px;
        margin-right: 4px;
    }
    &:hover {
        &::before {
            @include triangle_color(#fff, "left")
        }
    }

}