<div >

<h1>Git hub Issue displayer</h1>

  <p>
    {% if github_response.body %}
      {{github_response.body[0] | safe }}
    {%endif%}
  </p>
  {% if client_id %}

  <p>    
    We're going to now talk to the GitHub API. Ready?
    <a href="https://github.com/login/oauth/authorize?scope=user:email&client_id={{client_id}}">Click here</a> to
    begin!</a>
  </p>
  
  {%endif%}
  <br>
  <br>
  <br>

  {% if code %}
    <p> My git hub authentication code is:</p>
    <b>
      {{code}}
    </b>
  {% endif %}

  {% if git_response.body %}
    <p> My git_response body is:</p>
    <b>
      {{git_response.body}}

    </b>
  {% elif git_response %}
    <p> My git_response is:</p>

    <b>
      {{git_response}}    
    </b>

  {% endif %}


  
</div>
